.row {
    margin: 0 auto;
    width: auto;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: hidden;  
}
  
.row:after { clear: both; content: ""; display: block; }

.column {
    width: 100%;
    margin-left: 5%;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden; 
}

.only-mobile { display: block; }

.no-mobile {display: none;}

p {
  font-family: Myriad Pro, Helvetica;
  font-size: 10pt;
  text-align: justify;
  color: rgb(153, 153, 153);
}

.header{
  display: block;
}

#logo {
  width: 23%;
  margin: 25px auto 0px auto;
  display: block;
}


#mainMenu {
  border-bottom: 1px solid #808080; 
}

#mainMenu ul {
  text-align: center;
  list-style-type: none;
  margin: 35px auto 0px auto;
  padding: 0;
}

#mainMenu ul li {
  display: inline;
  margin-left: 5%;
}

#mainMenu ul li:first-child {margin-left: 0%;}

#mainMenu ul li a img {
  width: 6%;
}

#nav3 {
  width: 11% !important;
}

.full{
  width: 100%;
}

.titulo {
  display: block;
  margin: 0% auto;
}

.conteudoHomeopatia {
  height: 311px;
  overflow-y: auto;
  padding-right: 45px;
  margin-top: 50px;
}

.imagemHomeopatia {
  height: 311px;
  width: 100%;
  margin-top: 50px;
}

.footerHomeopatia {
  margin: 30px 0;
}

.footerHomeopatia img,  .conteudoHomeopatia img, .conteudoQuemSou img {
  display: block;
  margin: 0px auto 10px auto;
  width: 20%;
}

.footerHomeopatia h5 {
  margin: 10px 10px;
  text-align: center;
  font-family: Lucida Bright;
  font-style: italic;
  color: rgb(43, 75, 82);
}

.imagemQuemSou {
  display: block;
  width: 100%;
  margin: 50px auto 0 auto;
}

.conteudoQuemSou {
  text-align: justify;
  margin-top: 50px;
}

.conteudoQuemSou section {
  overflow-y: auto;
  max-height: 325px; 
}

.marcacaoConsultas, .entreEmContacto {
  display: block;
  background-color: #999999;
  height: 50px;
  overflow-y: hidden;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.marcacaoConsultas p, .entreEmContacto p {
  font-style: italic;
  color: white;
  text-align: center;
  line-height: 1px;
  font-size: 13pt;
  font-family: Lucida Bright;
  margin-top: 24px;
}

.telefoneConsultas {
  display: block;
  height: 40px;
  margin: 0 12%;
  border-bottom: 1px solid gray;
}

.telefoneConsultas img {
  display: block;
  margin: 15px auto 0px auto;
  width: 40%;
}

.entreEmContacto {
  margin: 15px auto 0px auto;
}

.emailContacto {
  height: 120px;
  border-bottom: 1px solid #999999;
  width: 85%;
  margin: 0 auto;
}

.emailContacto img {
  width: 40%;
  display: block;
  margin: 20px auto 0px auto;
}

.footerContacto {
  margin-left: 8%;
}

.footerContacto img {
  width: 5%;
  margin-left: 2%;
}

.footerContacto p {
  color: #2B4B52;
  font-family: Lucida Bright;
  font-weight: 600;
  font-style: italic;
}

.contacto, .ondeEstou {
  background-color: #E6E6E6;
  overflow: hidden;
  height: 490px;
}

.logoContacto img, .logoOndeEstou img, .logoBlog img,  .logoQuestoes img {
  display: block;
  margin: 50px auto 10px auto;
  width: 17%;
}

.logoQuestoes img {
  width: 37%;
}

.logoOndeEstou img {
  width: 20%;
}

.contactosContacto img, .contactosOndeEstou img {
  display: block;
  margin: 0 auto 0 auto;
  width: 45%;
}

.lisboaOndeEstou {
  margin-top: 45px;
  text-align: center;
  width: 45%;
  border-bottom: 1px solid gray
}

.lisboaOndeEstou h2 {
  color: #808080;
  font-family: Myriad Pro;
  margin-bottom: 1px;
}

.laboratorioOndeEstou {
  width: 100%;
  margin-left: 12%;
  margin-top: 20px;
}

.laboratorioOndeEstou img {
  display: block;
  width: 60%;
}

.moradaLabOndeEstou1 {
  display: inline-block;
  width: 17%;
  border-right: 2px solid gray
}

.moradaLabOndeEstou2 {
  display: inline-block;
  margin-left: 2%;
}

.moradaLabOndeEstou2 p a:link,
.moradaLabOndeEstou2 p a:visited,
.moradaLabOndeEstou2 p a:hover,
.moradaLabOndeEstou2 p a:active {
  color: #A09F9F;
}

.moradaLabOndeEstou1 h4 {
  margin: 0 1px 0 1px;
  color: #545453;
  font-family: Myriad Pro;
}

.moradaLabOndeEstou2 p {
    color: #A09F9F;
    margin: 2px 0 0 0;
    font-family: Myriad Pro;
    font-size: 11pt;
}


.logoOndeEstou {
  text-align: center;
}

.logoOndeEstou img {
  margin-bottom: 20px;
}

.logoOndeEstou h2 {
  color: #545453;
  font-family: Myriad Pro;
  margin-top: 50px;
  text-align: center;
}

.contactosOndeEstou {
  margin-top: 50px;
}

.contactosContacto img {
  margin-top: 80px;
}

.artigosBlog {
  margin-top: 50px;
  box-sizing: border-box;
  margin-left: 10%;
}

.artigosBlog h3 {
  text-align: center;
  color: #666666;
  font-family: Myriad Pro;
  font-size: 15pt;
}

.artigos1Blog {
  display: inline-block;
  width: 49%;
  border-right: 1px solid gray;
}

.artigos2Blog {
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  width: 49%;
  padding-left: 5%;
}

.artigos1Blog p:first-child, .artigos2Blog p:first-child {
  margin-top: 0;
}

.artigos1Blog p:last-child, .artigos2Blog p:last-child {
  margin-bottom: 0;
}

.logoBlog img {
  width: 14% !important;
}

.perguntas {
  margin-top: 50px;
}
.perguntas ul {
  list-style-type: none;
}

.perguntas a {
  width: 60%;
  display: block;
  color: gray;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 25px auto;
  padding: 3px;
  text-align: center;
  font-weight: 600;
}

.perguntas a:link {
  text-decoration: none;
}

.perguntas a:hover, .perguntaActiva {
  color: white !important;
  background-color: rgb(179, 179, 179);
}

.resposta {
  overflow-y: auto;
  border-radius: 20px;
  background-color: rgb(179, 179, 179);
  padding: 10px 50px 5px 50px;
  text-align: justify;
  margin-top: 25px;
} 

.resposta p {
  color: white;
}

.footerBlog {
  height: 150px;
  width: 100%;
  display: none;
  background-color: #666666;
  margin-top: 50px;
}

.footerBlog img {
  display: inline-block;
  width: 15%;
  margin: 35px 0 25px 30px;
}

.footerBlog ul {
  float: right;
  display: inline-block;
  margin-right: 25px;
  text-align: right;
}

.footerBlog li {
  list-style-type: none;
  display: block;
}

.footerBlog a:link, .footerBlog a:visited,
.footerBlog a:hover, .footerBlog a:active {
  text-decoration: none;
  color: white;
  font-family: Myriad Pro;
}







.only-mobile { display: none; }

.no-mobile {display: block;}

.column.ocuppies_1_of_2 { width: 47%; }
.column.ocuppies_2_of_2 { width: 100%; }

.column.ocuppies_3_of_3 { width: 100%; }
.column.ocuppies_2_of_3 { width: 65%; }

.column.ocuppies_1_of_3 {
  width: 25%; 
  margin-left: 7%
}

.row > .column:first-child { margin-left: 0; }

.column:first-child {margin-left: 0%;}
.row .ocuppies_1_of_3:first-child {margin-left: 7%;}




/*
@media (min-width: 768px) {
  .row {width: 730px;}
}

@media (min-width: 992px) {
  .row {width: 970px;}
}*/

@media (min-width: 1300px) {
  .row {width: 1300px;}
}




